# Homework 7
### Rolando Santos
### https://github.com/rsantos2032/DSCI401/
### 2023-11-26

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical

In [4]:
sample_submission = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv').drop(columns='id')
test = pd.read_csv('test.csv').drop(columns='id')

In [5]:
train.head()

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0

In [6]:
train.isna().sum()

Mean_Integrated         0
SD                      0
EK                      0
Skewness                0
Mean_DMSNR_Curve        0
SD_DMSNR_Curve          0
EK_DMSNR_Curve          0
Skewness_DMSNR_Curve    0
Class                   0
dtype: int64

Our data has no NA cells, so no imputation or removal is needed.

In [10]:
pulsar_train = train.to_numpy()
pulsar_test = test.to_numpy()
pulsar_train

array([[ 1.33171875e+02,  5.97160815e+01,  4.31329240e-02, ...,
         7.49797994e-01, -6.49512056e-01,  0.00000000e+00],
       [ 8.70937500e+01,  3.62579733e+01,  4.35468922e-01, ...,
         7.03933030e+00,  5.26862514e+01,  0.00000000e+00],
       [ 1.12640625e+02,  3.98183935e+01,  3.79638726e-01, ...,
         8.19347104e+00,  8.56497849e+01,  0.00000000e+00],
       ...,
       [ 1.19757812e+02,  4.99800131e+01,  6.44015080e-02, ...,
         6.95974013e+00,  5.63677886e+01,  0.00000000e+00],
       [ 1.05789062e+02,  4.69865952e+01,  4.41426486e-01, ...,
         9.44244492e+00,  9.90745394e+01,  0.00000000e+00],
       [ 1.13515625e+02,  5.09359561e+01,  3.15166910e-02, ...,
         2.38636423e+00,  4.00185934e+00,  0.00000000e+00]])

In [11]:
X_train, y_train = np.hsplit(pulsar_train, [8])
X_test = pulsar_test
y_train = to_categorical(y_train, num_classes=2)

In [12]:
def normalize(X):
    return (X-np.min(X))/(np.max(X)-np.min(X))
X_train = normalize(X_train)

model = keras.Sequential()
model.add(layers.Dense(64, input_dim = 8, activation= 'relu'))
model.add(layers.Dense(128, activation = 'relu'))
model.add(layers.Dense(2, activation = 'sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                576

 dense_1 (Dense)             (None, 128)               8320

 dense_2 (Dense)             (None, 2)                 258

=================================================================
Total params: 9154 (35.76 KB)
Trainable params: 9154 (35.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

Using sigmoid instead of softmax since it's preferred for binary classifications. I also normalized the data so that all continuous variables are between 0 and 1.

In [13]:
model.compile(
    loss="binary_crossentropy", 
    optimizer="adam", 
    metrics=["accuracy"]
)
model.fit(X_train, y_train,epochs = 15, batch_size = 64)

Epoch 1/15
1837/1837 [==============================] - 12s 5ms/step - loss: 0.0766 - accuracy: 0.9782
Epoch 2/15
1837/1837 [==============================] - 14s 8ms/step - loss: 0.0456 - accuracy: 0.9871
Epoch 3/15
1837/1837 [==============================] - 14s 8ms/step - loss: 0.0444 - accuracy: 0.9873
Epoch 4/15
1837/1837 [==============================] - 11s 6ms/step - loss: 0.0436 - accuracy: 0.9876
Epoch 5/15
1837/1837 [==============================] - 18s 10ms/step - loss: 0.0429 - accuracy: 0.9877
Epoch 6/15
1837/1837 [==============================] - 10s 6ms/step - loss: 0.0424 - accuracy: 0.9878
Epoch 7/15
1837/1837 [==============================] - 9s 5ms/step - loss: 0.0420 - accuracy: 0.9880
Epoch 8/15
1837/1837 [==============================] - 9s 5ms/step - loss: 0.0418 - accuracy: 0.9882
Epoch 9/15
1837/1837 [==============================] - 12s 6ms/step - loss: 0.0414 - accuracy: 0.9882
Epoch 10/15
1837/1837 [==============================] - 9s 5ms/step - loss: 0.0411 - accuracy: 0.9882
Epoch 11/15
1837/1837 [==============================] - 10s 5ms/step - loss: 0.0410 - accuracy: 0.9884
Epoch 12/15
1837/1837 [==============================] - 9s 5ms/step - loss: 0.0406 - accuracy: 0.9885
Epoch 13/15
1837/1837 [==============================] - 8s 5ms/step - loss: 0.0403 - accuracy: 0.9886
Epoch 14/15
1837/1837 [==============================] - 7s 4ms/step - loss: 0.0402 - accuracy: 0.9889
Epoch 15/15
1837/1837 [==============================] - 8s 4ms/step - loss: 0.0404 - accuracy: 0.9886

In [14]:
X_test = normalize(X_test)
X_test

array([[0.13261142, 0.05306607, 0.00243238, ..., 0.01620415, 0.01129731,
        0.11209894],
       [0.10265024, 0.05034246, 0.00264208, ..., 0.0140031 , 0.01325314,
        0.17228032],
       [0.1279763 , 0.04869963, 0.00229601, ..., 0.02213245, 0.00912185,
        0.0572635 ],
       ...,
       [0.12493223, 0.04282315, 0.00242334, ..., 0.0159914 , 0.01251273,
        0.13994126],
       [0.07628527, 0.04197405, 0.00313775, ..., 0.01711236, 0.01234998,
        0.13561228],
       [0.06585989, 0.03921384, 0.00416719, ..., 0.05365742, 0.00469268,
        0.00741135]])

In [16]:
y_pred = model.predict(X_test)

2450/2450 [==============================] - 17s 7ms/step

In [17]:
sample_submission['Class']=y_pred[:,1]
sample_submission

           id     Class
0      117564  0.000071
1      117565  0.001210
2      117566  0.000120
3      117567  0.004893
4      117568  0.004559
...       ...       ...
78372  195936  0.000386
78373  195937  0.000147
78374  195938  0.000102
78375  195939  0.049222
78376  195940  0.970126

[78377 rows x 2 columns]

In [18]:
sample_submission.to_csv('sub.csv',index=False)